*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: whitesmoke;
}

header{
    height: 180px;
    background-image: linear-gradient(rgb(255, 66, 66),red);
    color: white;
    padding: 5px;
}

.upperNav{
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin-left: 10px;
    filter: invert(100%);
    height: 35px;
}

a{
    text-decoration: none;
}

.navIcon{
    height: 20px;
    filter: invert(100%);
    margin-left: 20px;
}

.user{
    margin: 40px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#userPhoto{
    background-color: gray;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
    overflow: hidden;
}

#userPhoto img{
    height: 150px;
}

.bottomNav ul{
    color: black;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.bottomNav li{
    font-size: 12px;
    list-style: none;
    margin: 0 8px;
}

.search{
    margin-top: 150px;
    display: flex;
    height: 36px;
}

.search input{
    border: none;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    padding: 4px;
    height: 27px;
}

.search button{
    padding: 0;
    height: 36px;
    border: none;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    background-image: url("https://cdn.onlinewebfonts.com/svg/img_194915.png");
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px
}

/* Card style start */
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid red;
    border-radius: 8px;
    height: 150px;
    width: 320px;
    margin-bottom: 35px;
    overflow: hidden;
}

.cardImg{
    display: flex;
    width: 50%;
    height: 130px;
    justify-items: center;
    padding: 10px 5px;
}

.cardTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: black;
    margin-top: 10px;
}

.cardTitle img{
    height: 20px;
}

.cardPwrs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
    color: white;
}

.pwrNormal{
    background-color: grey;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    padding: 3px;
}

.pwrGrass{
    background-color: rgb(63, 202, 63);
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    padding: 3px;
}

.pwrPoison{
    background-color: rgb(152, 35, 175);
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    padding: 3px;
}

/* Card style end */

.pagesNav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagesNav ul{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: red;
    align-items: center;
}

.pagesNav li{
    text-align: center;
    list-style: none;
    margin-right: 20px;
}

.selectedPage{
    color: white;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

footer{
    text-align: right;
    font-size: 12px;
    color: black;
    padding-right: 20px;
}
